<%= form_with(model: workflow, local: true) do |form| %>
<% if workflow.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

  <ul>
    <% workflow.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="input-field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :workflow_name %>
</div>

<div class="input-field">
  <%= form.text_area :description, id: :workflow_description, class: 'materialize-textarea' %>
  <%= form.label :description %>
</div>
<div class="row valign-wrapper">
<div class="col s6">
<h2>Stages</h2>
</div>
<div class="col s6">
      <%= link_to_add_association "Add stage", form, :workflow_stages, class: "btn waves-effect waves-light right", data: {association_insertion_node: "#list-stage", association_insertion_method: :append } %>
      </div>
    </div>


<ul id="list-stage" class="collection">
  <%= form.fields_for :workflow_stages do |form_stage| %>
  <%= render 'workflow_stage_fields', :f => form_stage %>
  <% end %>
</ul>


<div class="actions">
  <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
<% end %>
