<%= form_with(model: workflow, local: true) do |form| %>
<% if workflow.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

  <ul>
    <% workflow.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :workflow_name %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, id: :workflow_description, class: 'materialize-textarea' %>
</div>

Addresses:
<div class="scale-transition scale-in">


<ul >
  <%= form.fields_for :workflow_stages do |workflow_stages_form| %>
  <li>
    <%= workflow_stages_form.label :name %>
    <%= workflow_stages_form.text_field :name %>

    <%= workflow_stages_form.label :description %>
    <%= workflow_stages_form.text_area :description, class: 'materialize-textarea' %>
  </li>
  <% end %>
</ul>
</div>

<a id="scale-demo" href="#!" class="btn-floating btn-large waves-light">
    <i class="material-icons">add</i>
  </a>

<ul>
  <%= form.fields_for :workflow_stages do |workflow_stages_form| %>
  <li>
    <%= workflow_stages_form.label :name %>
    <%= workflow_stages_form.text_field :name %>

    <%= workflow_stages_form.label :description %>
    <%= workflow_stages_form.text_area :description, class: 'materialize-textarea'   %>
  </li>
  <% end %>
</ul>

<div class="actions">

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
<% end %>
