  <%= form_with(model: workflow, local: true) do |form| %>
<% if workflow.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

  <ul>
    <% workflow.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="input-field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :workflow_name %>
</div>

<div class="input-field">
  <%= form.text_area :description, id: :workflow_description, class: 'materialize-textarea' %>
  <%= form.label :description %>
</div>

<h2>Stages</h2>

<ul id="stage-list" class="collection">
  <%= form.fields_for :workflow_stages do |workflow_stages_form| %>
  <li class="collection-item">
    <div class="row">
        <div class="input-field col s6">
          <%= workflow_stages_form.label :name %>
          <%= workflow_stages_form.text_field :name %>
        </div>
        <div class="input-field col s6">
          <%= workflow_stages_form.label :description %>
          <%= workflow_stages_form.text_area :description, class: 'materialize-textarea' %>
        </div>
      </div>
  </li>
  <% end %>
</ul>

<a id="add_workflow_stages" href="" class="btn-floating right waves-effect waves-light">
    <i class="material-icons">add</i>
  </a>

<div class="actions">

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
<% end %>
