<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :stages %>
    <%= form.number_field :stages, id: :project_stages %>
  </div>

  <div class="field">
    <%= form.label :workflow_id %>
    <%= form.text_field :workflow_id, id: :project_workflow_id %>
  </div>

  <div class="field">
    <%= form.label :travel_companion_id %>
    <%= form.text_field :travel_companion_id, id: :project_travel_companion_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
