<!DOCTYPE html>
<html>
<head>
  <title>GG Family</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <div class="wrap">
  <nav>
    <div class="nav-wrapper">
      <div class="row">
      <div class="col s1">
        <%= link_to "GG Family", "/", class: "brand-logo"  %>
      </div>
      <ul class="right hide-on-med-and-down">
        <li><a href=""><i class="material-icons">search</i></a></li>
        <li><a href=""><i class="material-icons">view_module</i></a></li>
      </ul>
    </row>
    </div>
  </nav>
    <%= yield %>
  </div>
</body>
</html>
